openapi: 3.1.0
info:
  title: Luma Dream Machine Concepts Video API
  description: 'REST API for Luma''s Dream Machine generative video and image platform.

    Exposes Ray (video) and Photon (image) model families with endpoints for

    creating, listing, retrieving, and deleting generations, plus upscaling,

    style-transfer modification, reframing, audio attachment, concepts, and

    credit balance.

    Authentication uses Bearer tokens obtained from

    https://lumalabs.ai/dream-machine/api/keys.

    '
  version: '1.0'
  contact:
    name: Luma Labs
    url: https://docs.lumalabs.ai/
  license:
    name: Proprietary
    url: https://lumalabs.ai/legal/tos
servers:
- url: https://api.lumalabs.ai/dream-machine/v1
  description: Dream Machine API
security:
- BearerAuth: []
tags:
- name: Video
paths:
  /generations/video:
    post:
      tags:
      - Video
      summary: Create a video generation
      operationId: createVideoGeneration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                model:
                  type: string
                aspect_ratio:
                  type: string
                loop:
                  type: boolean
                keyframes:
                  type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
  /generations/video/modify:
    post:
      tags:
      - Video
      summary: Modify a video with style transfer
      operationId: modifyVideo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
  /generations/video/reframe:
    post:
      tags:
      - Video
      summary: Reframe a video
      operationId: reframeVideo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
